body {
    margin: 0;
    background-color: rgb(236, 236, 236);
}

header {
    background-color: rgb(255, 68, 68);
    color: white;

    font-size: large;
    font-weight: 900;
    font-family: sans-serif;
}

.header-container {
    width: 95%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.operators-container {
    padding: 0;

    display: flex;
    list-style: none;
}

.operator {
    margin: 0px 8px;

    cursor: pointer;
}

.selected {
    border-bottom: 4px solid white;
}

/* MAIN */

.container {
    display: flex;
}

/* EXAMPLE */

.example {
    box-shadow: 2px 3px 8px black;

    margin: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

    background-color: white;
}

.value {
    margin: 0px 8px;
    font-size: 160px;
    font-weight: 900;
}

.first {
    color: rgb(255, 68, 68);
} 

.second {
    color: rgb(98, 140, 255);
} 

.third {
    color: rgb(253, 243, 97);
} 

.equal {
    color: rgb(255, 211, 67);
}

.question-sign {
    color: rgb(73, 73, 73);
}

/* ANSWERS */

.answers {
    margin: 12px 12px 12px 0px;
    width: 18%;
}

.card {
    box-shadow: 2px 3px 6px black;

    padding: 20px 0px;
    
    color: white;
    font-size: 160px;
    font-weight: 900;
    text-align: center;
}

.card:hover {
    cursor: pointer;
}

.card:nth-child(1) {
    background-color: rgb(255, 68, 68);
}

.card:nth-child(2) {
    background-color: rgb(98, 140, 255);
}

.card:nth-child(3) {
    background-color: rgb(253, 243, 97);
}

.card p {
    margin: 0;
}

.card + .card {
    margin-top: 12px;
}